Repository szymonmaslowski/snippets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,json}": [
    "prettier --write",
  ],
  "*.js": [
    "eslint --fix"
  ]
}

Add serve and react-component-rendering-optimisation snippets
  snippets/react-component-rendering-optimisation/.babelrc
  snippets/react-component-rendering-optimisation/.eslintrc
  snippets/react-component-rendering-optimisation/README.md
  snippets/react-component-rendering-optimisation/package.json
  snippets/react-component-rendering-optimisation/src/App.jsx
  snippets/react-component-rendering-optimisation/src/components/ClassComponent.jsx
  snippets/react-component-rendering-optimisation/src/components/ClassPureComponent.jsx
  snippets/react-component-rendering-optimisation/src/components/FunctionalComponent.jsx
  snippets/react-component-rendering-optimisation/src/components/FunctionalComponentMemoized.jsx
  snippets/react-component-rendering-optimisation/src/components/index.js
  snippets/react-component-rendering-optimisation/src/index.jsx
  snippets/react-component-rendering-optimisation/src/utils/Body.jsx
  snippets/react-component-rendering-optimisation/src/utils/index.js
  snippets/serve/README.md
  snippets/serve/bin/serve.js
  snippets/serve/config/webpack.config.js
  snippets/serve/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Promise implementation
  snippets/promise-implementation/.eslintrc
  snippets/promise-implementation/P.js
  snippets/promise-implementation/P.test.js
  snippets/promise-implementation/package.json
  snippets/promise-implementation/test-utils.js
  yarn.lock
Due: prettier --write, eslint --fix

Reorganize eslint config in react-component-rendering-optimisation
  snippets/react-component-rendering-optimisation/.eslintrc
Due: none

Add root README file
  README.md
Due: none

Add description of promise reimplementation in the main README file
  README.md
Due: none

Add git commands notebook
  README.md
  snippets/git-commands/README.md
Due: none

Add SVG as icon snippet
  README.md
  snippets/react-component-rendering-optimisation/package.json
  snippets/serve/bin/serve.js
  snippets/serve/config/webpack.config.js
  snippets/serve/package.json
  snippets/svg-icon-adjusting-to-font/.eslintrc
  snippets/svg-icon-adjusting-to-font/dachshund.svg
  snippets/svg-icon-adjusting-to-font/index.js
  snippets/svg-icon-adjusting-to-font/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add logger snippet
  README.md
  snippets/logger/logger.js
  snippets/logger/package.json
Due: prettier --write, eslint --fix

Add redux saga effects showcase
  README.md
  snippets/redux-saga-effects-showcase/.babelrc
  snippets/redux-saga-effects-showcase/package.json
  snippets/redux-saga-effects-showcase/snippets/01-take.js
  snippets/redux-saga-effects-showcase/snippets/02-delay.js
  snippets/redux-saga-effects-showcase/snippets/03-fork.js
  snippets/redux-saga-effects-showcase/snippets/04-cancel.js
  snippets/redux-saga-effects-showcase/snippets/05-take-latest.js
  snippets/redux-saga-effects-showcase/snippets/06-select.js
  snippets/redux-saga-effects-showcase/snippets/07-put.js
  snippets/redux-saga-effects-showcase/snippets/08-call.js
  snippets/redux-saga-effects-showcase/snippets/09-cancelled.js
  snippets/redux-saga-effects-showcase/snippets/10-error-handling.js
  snippets/redux-saga-effects-showcase/snippets/11-race.js
  snippets/redux-saga-effects-showcase/snippets/12-all.js
  snippets/redux-saga-effects-showcase/snippets/13-event-channel.js
  snippets/redux-saga-effects-showcase/snippets/index.js
Due: prettier --write, eslint --fix

Update README of serve snippet
  snippets/serve/README.md
Due: none

Add CI job for running tests
  .circleci/config.yml
  package.json
Due: prettier --write

Change name of serve package
  snippets/react-component-rendering-optimisation/package.json
  snippets/serve/package.json
  snippets/svg-icon-adjusting-to-font/package.json
  yarn.lock
Due: prettier --write

Add babel preset package
  README.md
  snippets/babel-preset/base.js
  snippets/babel-preset/package.json
  snippets/babel-preset/react.js
  snippets/react-component-rendering-optimisation/.babelrc
  snippets/react-component-rendering-optimisation/package.json
  snippets/redux-saga-effects-showcase/.babelrc
  snippets/redux-saga-effects-showcase/package.json
Due: prettier --write, eslint --fix

Add redux-saga-exercises package with countdown exercise
  .eslintrc
  snippets/redux-saga-exercises/.babelrc
  snippets/redux-saga-exercises/.eslintrc
  snippets/redux-saga-exercises/exercises/1-countdown/README.md
  snippets/redux-saga-exercises/exercises/1-countdown/app-markup.jsx
  snippets/redux-saga-exercises/exercises/1-countdown/index.js
  snippets/redux-saga-exercises/exercises/1-countdown/saga.js
  snippets/redux-saga-exercises/exercises/1-countdown/saga.test.js
  snippets/redux-saga-exercises/exercises/1-countdown/store.js
  snippets/redux-saga-exercises/package.json
  snippets/redux-saga-exercises/solutions/1-countdown/saga.js
  yarn.lock
Due: prettier --write, eslint --fix

Add redux-saga-exercises link to the root README and a README file to that package
  README.md
  snippets/redux-saga-exercises/README.md
Due: none

Fix test of exercise 1 in redux-saga-exercises
  snippets/redux-saga-exercises/.eslintrc
  snippets/redux-saga-exercises/exercises/1-countdown/index.js
  snippets/redux-saga-exercises/exercises/1-countdown/saga.test.js
  snippets/redux-saga-exercises/exercises/1-countdown/store.js
  snippets/redux-saga-exercises/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Extracted scheduller as a separated package and used in redux-saga-exercises test
  README.md
  snippets/promise-implementation/P.test.js
  snippets/promise-implementation/package.json
  snippets/promise-implementation/test-utils.js
  snippets/redux-saga-exercises/.eslintrc
  snippets/redux-saga-exercises/exercises/1-countdown/saga.test.js
  snippets/redux-saga-exercises/package.json
  snippets/scheduler/index.js
  snippets/scheduler/package.json
Due: prettier --write, eslint --fix

Adding callback-chain package
  snippets/babel-preset/base.js
  snippets/callback-chain/.babelrc
  snippets/callback-chain/.eslintrc
  snippets/callback-chain/.gitignore
  snippets/callback-chain/README.md
  snippets/callback-chain/docs.md
  snippets/callback-chain/example.js
  snippets/callback-chain/package.json
  snippets/callback-chain/rollup.config.js
  snippets/callback-chain/scripts/.eslintrc
  snippets/callback-chain/scripts/execute-example.js
  snippets/callback-chain/src/index.js
  snippets/callback-chain/src/index.spec.js
Due: prettier --write, eslint --fix

Make callback-chain supporting chainging methods
  snippets/callback-chain/src/index.js
  snippets/callback-chain/src/index.spec.js
  yarn.lock
Due: prettier --write, eslint --fix

Update docs of callback-chain
  snippets/callback-chain/README.md
  snippets/callback-chain/docs.md
  snippets/callback-chain/example.js
Due: prettier --write, eslint --fix

Add repo-utility-tools package with scripts for managing repo CI/CD
  .circleci/config.yml
  package.json
  snippets/repo-utility-tools/.eslintrc
  snippets/repo-utility-tools/bin/print-package-path-from-tag.js
  snippets/repo-utility-tools/bin/release.js
  snippets/repo-utility-tools/package.json
  snippets/repo-utility-tools/test/release.test.js
  snippets/repo-utility-tools/test/resources/git
  yarn.lock
Due: prettier --write, eslint --fix

callback-chain v1.1.0
  snippets/callback-chain/package.json
Due: prettier --write

Add callback-chain to the root readme
  README.md
Due: none

Fix repo data in package.json of callback-chain
  snippets/callback-chain/package.json
Due: prettier --write

callback-chain v1.1.1
  snippets/callback-chain/package.json
Due: prettier --write

Fix links in callback-chain docs file
  snippets/callback-chain/docs.md
Due: none

tmp
  TODO.md
  snippets/babel-preset/package.json
  snippets/logger/package.json
  snippets/promise-implementation/P.test.js
  snippets/redux-saga-exercises/exercises/2-data-fetching/README.md
  snippets/redux-saga-exercises/exercises/2-data-fetching/api.js
  snippets/redux-saga-exercises/exercises/2-data-fetching/app-markup.jsx
  snippets/redux-saga-exercises/exercises/2-data-fetching/index.js
  snippets/redux-saga-exercises/exercises/2-data-fetching/saga.js
  snippets/redux-saga-exercises/exercises/2-data-fetching/saga.test.js
  snippets/redux-saga-exercises/exercises/2-data-fetching/server.js
  snippets/redux-saga-exercises/exercises/2-data-fetching/store.js
  snippets/redux-saga-exercises/package.json
  snippets/redux-saga-exercises/solutions/2-data-fetching/saga.js
  static-files-server-with-hot-reload/.eslintrc
  static-files-server-with-hot-reload/bin/start.js
  static-files-server-with-hot-reload/example/package.json
  static-files-server-with-hot-reload/example/src/index.html
  static-files-server-with-hot-reload/example/src/index.js
  static-files-server-with-hot-reload/example/web_modules/emotion.js
  static-files-server-with-hot-reload/example/web_modules/import-map.json
  static-files-server-with-hot-reload/example/yarn.lock
  static-files-server-with-hot-reload/package.json
  static-files-server-with-hot-reload/src/client-side.js
  static-files-server-with-hot-reload/src/serve.js
  static-files-server-with-hot-reload/yarn.lock
Due: prettier --write, eslint --fix

Add http1-vs-http2-vs-push snippet
  README.md
  snippets/http1-vs-http2-vs-http2-push/.eslintrc
  snippets/http1-vs-http2-vs-http2-push/README.md
  snippets/http1-vs-http2-vs-http2-push/package.json
  snippets/http1-vs-http2-vs-http2-push/public/asset.png
  snippets/http1-vs-http2-vs-http2-push/public/favicon.ico
  snippets/http1-vs-http2-vs-http2-push/src/common.js
  snippets/http1-vs-http2-vs-http2-push/src/h1.js
  snippets/http1-vs-http2-vs-http2-push/src/h2-push.js
  snippets/http1-vs-http2-vs-http2-push/src/h2.js
  snippets/http1-vs-http2-vs-http2-push/src/index.js
  yarn.lock
Due: prettier --write, eslint --fix

Add start command to README of h1-h2-push snippet
  snippets/http1-vs-http2-vs-http2-push/README.md
Due: none

Fix links in h1-h2-push readme
  snippets/http1-vs-http2-vs-http2-push/README.md
Due: none

Fix some of incorrectly specified local packages versions
  snippets/react-component-rendering-optimisation/package.json
  snippets/redux-saga-effects-showcase/package.json
  snippets/redux-saga-exercises/package.json
  snippets/svg-icon-adjusting-to-font/package.json
Due: prettier --write

Make serve package generating an HTML file with title set to directory path from where it is started
  snippets/serve/config/webpack.config.js
Due: prettier --write, eslint --fix

Make serve package be able to interpret css files
  snippets/serve/config/webpack.config.js
  snippets/serve/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add renderere module
  README.md
  snippets/renderere/.eslintrc
  snippets/renderere/README.md
  snippets/renderere/example.js
  snippets/renderere/package.json
  snippets/renderere/renderere.js
Due: prettier --write, eslint --fix

Tic tac toe implementation
  snippets/tic-tac-toe/.eslintrc
  snippets/tic-tac-toe/package.json
  snippets/tic-tac-toe/src/index.css
  snippets/tic-tac-toe/src/index.js
  snippets/tic-tac-toe/src/logic.js
  snippets/tic-tac-toe/src/view.js
Due: prettier --write, eslint --fix

Readme of tic tac toe
  README.md
  snippets/tic-tac-toe/README.md
Due: none

Update readme of renderere
  snippets/renderere/README.md
Due: none

Add xstate usage examples
  snippets/xstate-examples/.babelrc
  snippets/xstate-examples/.eslintrc
  snippets/xstate-examples/README.md
  snippets/xstate-examples/examples/1-runnning-the-machine/index.js
  snippets/xstate-examples/examples/1-runnning-the-machine/machine.js
  snippets/xstate-examples/examples/2-actions/index.js
  snippets/xstate-examples/examples/2-actions/machine.js
  snippets/xstate-examples/examples/3-context/index.js
  snippets/xstate-examples/examples/3-context/machine.js
  snippets/xstate-examples/examples/5-react/App.jsx
  snippets/xstate-examples/examples/5-react/Light.jsx
  snippets/xstate-examples/examples/5-react/index.jsx
  snippets/xstate-examples/examples/5-react/machine.js
  snippets/xstate-examples/package.json
  snippets/xstate-examples/shared/index.js
  snippets/xstate-examples/shared/makeLightRenderer.js
  yarn.lock
Due: prettier --write, eslint --fix

Add xstate examples to the root readme
  README.md
Due: none

Add another example to xstate examples and clean up other ones
  snippets/xstate-examples/README.md
  snippets/xstate-examples/examples/2-actions/index.js
  snippets/xstate-examples/examples/2-actions/makeLightRenderer.js
  snippets/xstate-examples/examples/3-context/index.js
  snippets/xstate-examples/examples/3-context/machine.js
  snippets/xstate-examples/examples/4-guards/index.js
  snippets/xstate-examples/examples/4-guards/machine.js
  snippets/xstate-examples/examples/6-invoking-services/App.jsx
  snippets/xstate-examples/examples/6-invoking-services/fetchUserById.js
  snippets/xstate-examples/examples/6-invoking-services/index.jsx
  snippets/xstate-examples/examples/6-invoking-services/machine.js
  snippets/xstate-examples/package.json
  snippets/xstate-examples/shared/index.js
  yarn.lock
Due: prettier --write, eslint --fix
